body {
	background: #ADFF2F
}
h1 {
}
p {
  text-align: center ; color: #FFFFFF;
}
p {
  text-align:left; color: #000000;
}
  #banner {
      height: 50%;
      width: 100%;
      margin-left: 1px;
      border: solid;
      color: #000000;
 }